[build]
  base = "website"
  command = "npm install && npm run build"
  publish = "website/.next"

[build.environment]
  NODE_VERSION = "18"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[context.production.environment]
  NODE_VERSION = "18"

